server:
  port: 8000

spring:
  datasource:
    # Environment variables will be injected by the hosting platform (Koyeb/Render)
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: false

logging:
  level:
    root: INFO

cors:
  allowed-origins: https://fit-math-2025.vercel.app
