option_settings:
  aws:elasticbeanstalk:application:environment:
    SPRING_PROFILES_ACTIVE: prod
    SERVER_PORT: 8080
  aws:elasticbeanstalk:container:java:
    Xms: 512m
    Xmx: 1024m
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static/**: static/
    /css/**: static/css/
    /js/**: static/js/
    /images/**: static/images/
